body {
  background: #f7f6f6;
  margin: 0;
  padding: 0;
}

.container-header{
    /* border:1px solid black */
}

.stepper {
  display: flex;
  /* margin: 100px; */
  padding: 20px;
  /* width: 60rem; */
  list-style: none;
  position: relative;
}
.stepper::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  content: "";
  width: calc(100% - 20px);
  /* background: #e7e7e7; */
}
.stepper__item {
  flex: 100%;
  padding: 20px 20px 20px 40px;
  background: #fff;
  /* margin: 0 0 0 -19px; */
  -webkit-clip-path: polygon(
    20px 50%,
    0% 0%,
    calc(100% - 20px) 0%,
    100% 50%,
    calc(100% - 20px) 100%,
    0% 100%
  );
}
.stepper__item.current {
  background: #FFD4B2;
  font-weight: bold;
}
.stepper__item.complete {
  background: green;
}
.stepper__item:first-child {
  padding: 20px;
  -webkit-clip-path: polygon(
    0% 0%,
    calc(100% - 20px) 0%,
    100% 50%,
    calc(100% - 20px) 100%,
    0% 100%
  );
}
.stepper__item:last-child {
  -webkit-clip-path: polygon(20px 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
